*{padding: 0;margin:0;}
body{
    
    Background-image:
    Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    
    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;   
}
a{
margin-left: 200px;    
display: inline-block; 
text-decoration: none;
color:white;
}
a:hover
{
   
    color: red;
  
}
h2{
  
    display:inline-block;
    color: white; 
  
}
 .img{
    margin-top: 2%; 
    margin-left:-12%;
    height: 50px;
    width: 50px;
    

}
.form{
color:yellow;
}

.karim{
    width:  100%;

}

.lotfi{
    width:100%;

}

.kratos{
    
    margin-left:65px;
}
#courses{
    display:flex;
    padding-left: 250px;
    padding-top:180px;
   
}


#courses2{
    display:flex;
    padding-left: 250px
}
#courses3{
    display:flex;
    padding-left: 250px
}
.image{
    /* margin-right: 200px; */
    margin-bottom: 0px;
    width: 100%;
}
.title {

    font-size: 150px;
    
}
.tl{
    font-size:100px;
}
.content{
    margin-top: 5em;
}
.back{
    background-image:url(" https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png" );
    width: 100%;
    height:700px;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
.back2{
    background-image:url(" https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png" );
    width: 35.7cm;
    height:700px;
  padding-top: 200px;
}
.blue {
    border-radius: 8px;
    height: 35px;
    width:250px;
}
.int{
    border-radius: 5px;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aqua;
    height: 30px;
    width:90px;
}
.int:hover{
    color:black;

    border:2px solid blue;
    
}
select{
    border-radius: 5px;
    height: 35px;
    width:250px;

}
.photo{
    padding-left: 30px;
    padding-top: 30px;
}
.para{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.cadresize{
    width: 5cm;
}
#myText{
    border-radius: 8px;
    overflow:scroll;
    width: 500px;
    max-height: 100px;
}
.bbtn{
    
    opacity:1!important;
    height: 2em;
    width: 10ch;
    border-radius: 5px;
}
/* #under{
    height: 2em;
    width: 10ch;
    border-radius: 5px;
} */


/* #ital{
    height: 2em;
    width: 5ch;
    border-radius: 5px;  
} */


/* #bold{
    height: 2em;
    width: 5ch;
    border-radius: 5px;
  
} */
#sizee{
    height: 35px;
    width: 15ch;
    border-radius: 5px;
}
#sizeee{
    height: 35px;
    width: 15ch;
    border-radius: 5px;
}
#k{
    color: white;
}


 .p1
{
background-image: url(res/gg.png);
height: 250px;
width: 250px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;

}

.p2{
    background-image: url(res/2.png);
    height: 250px;
    width: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.p3{
    background-image:url(res/3.png) ;
height: 250px;
width: 250px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
}


.p4{
    background-image:url(res/4.png);
height: 250px;
width: 250px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
}

.p5{
    background-image:url(res/5.png);
height: 250px;
width: 250px;
margin: 20px;
display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;

}


.p6{background-image:url(res/6.png) ;
    height: 250px;
    width: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

    .p7{
    height: 250px;
    width: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
   
    .p8{background-image:url(res/8.png);
        height: 250px;
        width: 250px;
        margin: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: no-repeat;

    }
      
        .p9{background-image: url(res/9.png);
            height: 250px;
            width: 250px;
           margin: 20px;
           display: flex;
           justify-content: center;
           align-items: center;
           background-repeat: no-repeat;

        } 

.all{
    margin-left: 8%;
    display: flex  !important;
    justify-content: center !important;
    flex-direction: column !important;
    width: 100%
}
.image1{
    background-image: url(res/gg.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
 
    
}
.image2{
    background-image: url(res/2.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}

.image3{
    background-image:url(res/3.png) ;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
}
.big{
    display: flex;
    justify-content: center;
    justify-items: start;
  
}
#btn1{
    margin-right: 190px;
width :95px
}
h4{
    margin-right: 5cm;
}
.image4{
    background-image: url(res/2.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    

}
.image5{
    background-image: url(res/3.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image6{
    background-image: url(res/4.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image7{
    background-image: url(res/5.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image8{
    background-image: url(res/6.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image9{
    background-image: url(res/7.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image10{
    background-image: url(res/8.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image11{
    background-image: url(res/9.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
.image12{
    background-image: url(res/gg.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    background-size: cover;
    margin: 20px;
    
}
#myimg{
    margin-right: 1000px;
    margin-top: -50px;
}
#ex1{
    height:20%;
}
.mb-4{
width: 50%;
color: white;

}